/* #####################################################################
   #
   #   Project       : Cotonti & FL 2.6.9
   #   Author        : Roman Golubev (gromniki)
   #   Version       : 1.0
   #   Created       : 
   #   Last Change   : 
   #
   ##################################################################### */

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Open+Sans:400,400italic,600&subset=latin,cyrillic);

html {
    background: url(../img/bg/furley_bg.png);
    color: #555;
    height: 100%;
}
body {
    font: normal 16px / 22px "Open Sans", "Roboto Condensed", Helvetica, Arial, sans-serif;
    height: 100%;
    position: relative;
    min-height: 100%;
}
a,
.uk-link {
    color: #4089C6;
    text-decoration: none;
    cursor: pointer;
}
a:hover,
.uk-link:hover {
    color: #55B1E6;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #444444;
    text-transform: none;
    padding: 0 20px;
}
h1, .uk-h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    padding: 0;
}
h1.gr-h1 {
    font-size: 34px;
    font-weight: bold;
    line-height: 40px;
    padding: 0;
    display: block;
    text-align: left;
}
h1.gr-h1::after {
    content: "";
    display: block;
    border-bottom: 2px dashed #bbb;
    margin-top: 5px;
}
h1.h1-forms {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;    
    padding: 0;
    display: block;
    text-align: center;
}
h1.h1-forms::after {
    content: "";
    display: block;
    border-bottom: 2px dashed #bbb;
    margin-top: 5px;
}
h2, .uk-h2 {
    font-size: 26px;
    line-height: 26px;
    margin: 0;
}
h2.gr-h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    padding: 0;
    display: block;
    text-align: left;
    margin-bottom: 15px;
}
h2.gr-h2::after {
    content: "";
    display: block;
    border-bottom: 2px dashed #bbb;
    margin-top: 5px;
}
h2.h2-main {
    margin: 0 0 30px 0;
    font-family: inherit;
    font-size: 42px;
    font-weight: bold;
    line-height: 44px;
    color: #444444;
    text-transform: none;
    text-align: center;
}
h3.h3-main {
    margin: 0 0 10px 0;
    padding: 75px 0 0;
    font-family: inherit;
    font-size: 26px;
    line-height: 28px;
    color: #444444;
    text-transform: none;    
}
h4 {
    margin: 30px 0;
    padding: 0;
}


p {
    padding: 0 0 0 20px;
}

table {
    margin: 30px 0 0px 0;
}

button {
    margin: 20px 5px 5px 0;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0 3px 0 #2b74b0;
    font-size: inherit;
    font-family: inherit;
    color: #fff;
    background-color: #4089C6;
}
button:hover {
    color: #fff;
    cursor: pointer;
    background: #2b74b0;
    box-shadow: 0 3px 0 #4089C6;
}
input {
    font-family: inherit;
    color: #957676;
    margin: 5px 0;
}
textarea {
    font-family: inherit;
    color: #957676;
    margin: 5px 0;
    width: 97%;
    min-height: 70px;
    padding: 7px;
}

/* ----- МОДАЛЬНОЕ ОКНО ----- */
.uk-modal-dialog {
    margin: 150px auto;
    padding: 40px;
    width: 650px;
    background: #ffffff;
}
.uk-form-label {
    display: block;
    margin: 5px 0px;
}

/* ----- РЕГИСТРАЦИЯ ----- */
.uk-form-icon {
    display: block;
}
.form-border {
    border: 2px solid #ccc;
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0px 0px 0px 2px #fff, 
        0px 0px 0px 4px #ccc;
}
.link-to-customer {
    display: block;
    margin: 0 0 5px 0;
    padding: 5px 0;    
}
.link-to-customer a {    
    font-size: 18px;
    font-family: inherit;
}
.link-to-customer p {
    text-align: center;
    padding: 0;
}
/* ----- НАВИГАЦИЯ ----- */
.gr-modal-header::after {
    content: "";
    display: table;
    border-bottom: 2px solid #ccc;
    width: 100%;
    margin: 5px 0 20px 0;
}
/* ФОРМЫ */
.gr-form {
    font-family: "Open Sans", Roboto Condensed, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.gr-form .gr-input {     
    padding: 12px 12px 12px 37px;
    border: 2px solid #ccc;
    font-size: inherit;
    margin-top: 15px;
    outline: none;
    background-color: #f6f6f6; 
}
.gr-form .gr-input:focus {
    border: 2px solid #4089C6;    
}
.gr-form span.icon-1 {
    position: relative;
    display: block;
}
.gr-form span.icon-1 i.uk-icon-user-secret {
    position: absolute;
    top: 28px;
    left: 15px;
    font-size: 20px;
    color: #957676;
    z-index: 1;
}
.gr-form span.icon-2 {
    position: relative;
    display: block;
}
.gr-form span.icon-2 i.uk-icon-lock {
    position: absolute;
    top: 28px;
    left: 17px;
    font-size: 20px;
    color: #957676;
    z-index: 2;
}
.gr-form a.link-passrec::after {
    content: "";
    display: table;
    margin: 20px 0 5px 0;
    border-bottom: 2px dashed #ccc;
    width: 100%;    
}
.gr-form p {
    padding: 0;
    margin-top: 0;
}
.gr-form .gr-checkbox {
    margin: 0;    
}
/* Добавить проект */
.input-prjadd {
    width: 30%;    
}
.input-prjadd span {
    display: inline-block;
    margin-right: 10px;
}

.uk-modal-dialog button {
    box-shadow: none;
    margin: 0;
}
.uk-modal-dialog button:hover {
    /*background: none;*/
}
.uk-modal-dialog > .uk-close:first-child {
    margin: -30px -30px 0 0;
    font-size: 18px;    
}


/*.rusername-icon::before {
    content: "\f107";
    font-family: FontAwesome;
}*/

/* РќРђР’Р�Р“РђР¦Р�РЇ */
.uk-navbar-toggle { 
    color: #E8E8E8; 
}
.uk-container {    
    padding: 0px;
}
.tm-navbar {
    position: relative;
    z-index: 10;  
    padding: 18px;
    background: rgba(51, 57, 62, 0.8);
    /*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tm-navbar .tm-navbar-center {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.tm-navbar .tm-navbar-center .tm-nav {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.tm-navbar .tm-navbar-center .tm-nav .tm-nav-wrapper {
    display: inline-block;
}
.tm-navbar .tm-navbar-center .tm-nav .tm-nav-wrapper > .uk-navbar-nav > li {
    text-align: left;
}
.uk-navbar {
    float: none;
    text-align: center;  
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

.uk-navbar-center {    
    max-width: 70%;    
}

.uk-navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;    
}
.uk-navbar-nav > li {
    margin: 0 0;
    float: left;
    position: relative;
}

.uk-navbar-nav > li > a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    color: #aaa;
    font-size: 15px;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-weight: 300;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.uk-navbar-nav > li.uk-active > a {
    background-color: rgba(0, 0, 0, 0);
    color: #E5B13F;
}
/* КНОПКА: Добавить Проект */
.uk-navbar-nav .addbtn {
    border: 1px solid #ff0000;
    color: #ff0000;
    border-radius: 0;
    transition-duration: 0.4s;
    margin-top: -2px;
    letter-spacing: 0.6px;
    padding: 0 10px;
    margin-left: 10px;
}
.uk-navbar-nav .addbtn:hover {
    border: 1px solid #ff0000;
    background: #ff0000;
    color: #fff;

}

/* Ссылки Pro аккаунта */
.gr-link-pro-bye {
    color: #FF0000!important;
    font-weight: 600!important;    
}
.gr-link-pro-bye:hover {
    color: #C90000!important;
    font-weight: 600!important;    
}
.gr-link-pro-bought {
    color: #8cc63f!important;
    font-weight: 600!important;    
}
.gr-link-pro-bought:hover {
    color: #6c9e29!important;
    font-weight: 600!important;    
}

/* ----- ЛОГОТИП ----- */
.tm-nav-logo {
    position: absolute;
    top: 7%;
    left: 50%;
    margin-top: 0px;
    margin-left: -4px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}
.tm-nav-logo > a {
    display: block;
}

/* Выпадайки */
.uk-dropdown {
    padding: 5px;   
    font-size: 1rem;
    vertical-align: top;
    border-radius: 3px;
    min-width: 200px;
    background: url(../img/bg/whitey.png) repeat;
    text-align: left;
}
.uk-dropdown-navbar {
    width: 220px;
    background: #2B3034;
    margin-top: 18px;    
}
.uk-dropdown-navbar li > a {
    color: #fff;
    padding: 10px 15px;
}
.uk-dropdown-navbar li > a:hover {
    color: #111;
    background: #E5B13F;
}
.uk-dropdown-navbar .uk-active a {
    color: #E5B13F;
}
.uk-dropdown-bottom {
    margin-top: 10px;
}


/*
@media (min-width: 768px)
.uk-dropdown:not(.uk-dropdown-stack) > .uk-dropdown-grid {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 1220px)
.uk-grid {
    margin-left: -30px;
}
.uk-grid {
    margin-left: -20px;
}
*/
.uk-grid {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Слайдер */
.uk-slideshow {
    margin: -123px 0px -50px 0px;
    /*position: absolute;
    z-index: 1;*/
}

/* ----- КОНТЕНТ ----- */
.uk-navbar-nav > li.uk-open > a.tp-cursor, .uk-navbar-nav > li:hover > a.tp-cursor, .uk-navbar-nav > li > a.tp-cursor:focus{
    background: none;
    color: #777;
    cursor: pointer !important;
}
.uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {  
    background: none;
    color: #777;
    outline: 0;
}
/* КНОПКИ */
.gr-button-large { 
    padding: 15px 40px;
    line-height: 20px;
    font-size: 17px;
}
.gr-button-main {
    background: #4089C6;
    color: #fff;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 3px 0 #2b74b0;
    transition-duration: 0.2s;
}
.gr-button-main:hover {
    color: #fff;
    background: #2b74b0;
    box-shadow: 0 3px 0 #4089C6;
}

.addbtn-container {
    margin: 70px 0 40px;
    text-align: center;
}
a.addbtn-main {
    background: #e67e22;
    border-bottom: 3px solid #e9b33c;
    padding: 15px 40px;    
    color: #ffffff;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    transition-duration: 0.2s;
    line-height: 24px;    
}
a.addbtn-main:hover {
    background: #e9b33c;
    border-bottom: 3px solid #e67e22;
    color: #000;
}
/* Кнопки в формах */
.gr-button-form {
    margin-bottom: 5px;
    padding: 8px 35px;
    border: 0;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-size: 14px;    
    font-weight: normal;
    cursor: pointer;
    letter-spacing: 0.5px;
    cursor: pointer;
}


/* Блоки каталога на главной */
.uk-panel-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}
.uk-panel-box .uk-panel-title {
    color: #333;    
}
.uk-panel-box {      
    padding: 15px;
    background: none;
}
.cat-panel > p > i.uk-icon-large {
    font-size: 1000%;
    margin-top: 0px;
}
#catheader {
    font-size: 36px;
    font-family: "Roboto Condensed",sans-serif;
    text-align: center;
}
#center-icon {
    text-align: center;
    margin: -5px 0 -10px 0;
}
#catlist li {
    list-style-type: none;    
}

.cat-panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    /*background: #fff;*/
    border-radius: 4px;    
    cursor: pointer;
    /*box-shadow: 0 2px 0 #F5912A;*/
    border: 1px solid rgba(245, 145, 42, 0);
    color: #4089C6;
    margin: 20px 0;
    float: left;
}

.cat-panel:hover {
    border-radius: 4px;    
    cursor: pointer;
    box-shadow: 0 2px 0 #55B1E6;
    border: 1px solid #55B1E6;
    color: #55B1E6;
    /*background: #be9335;
    color: #fff;*/   
}

/* Подблоки */
.subcatlist {
    float: left;
}
#subcat {
    font-size: 26px;
    margin: 7px 0 10px 0;    
}
#subcat a {
    text-decoration: none;    
}
/*#subcat:hover {
    cursor: pointer;
    color: #F5912A;
}*/
#subcat span {
    font-size: 20px;
    font-family: "Roboto Condensed",sans-serif;
}
#subcat i.uk-icon-sublarge {
    font-size: 220%;
    vertical-align: -12%;
}

/* Кнопка Весь каталог */
.catbtn {
    text-align: center;
    margin: 55px 0 30px 0;
}
/*.catbtn a {
    display: block;
    margin: 0 340px;
}*/

/* КАТАЛОГ ПРОЕКТОВ */
.uk-width-3-10 {
    position: relative;
}
.gr-nav-category {
    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid #ededed;
    display: block;
    font-size: 15px;
    line-height: 50px;
    box-shadow: 0px 5px 0px #4089C6;
}
ul.gr-nav-sub {
    padding-left: 0;
}
ul.gr-nav-sub a,
ul.gr-nav-category a {
    border-top: 1px solid #ededed;
    padding: 0 10px 0 0;
}
.gr-nav-category .uk-icon-chevron-right,
.gr-nav-category .uk-icon-angle-right {
    border-right: 1px solid #ededed;
    width: 40px;
    text-align: center;
    line-height: 50px;
    padding-left: 7px;
}
.gr-nav-category .uk-icon-angle-right {
    margin-right: 4px;
}
.gr-nav-sub {
    background: #f8f8f8 none repeat;
    font-size: 13px;
}

/* Блок поиска мастера на главной */
.search-master-block {
    min-height: 500px;
    background-image: url(../img/parallax/parallax-master-3.jpg);
    background-repeat: no-repeat;    
}
.search-master-block h1 {
    margin: 0;
}
.search-master-block p {
    padding: 0 5px;
    margin: 50px 0;
}
.search-master-block a {
    margin: 0 70px;
    display: block;
}
.search-master-block .block-center {
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;    
    width: 600px;
}

/* Блок поиска заказчика на главной */
.search-customer-block {
    min-height: 500px;
    background-image: url(../img/parallax/parallax-02.jpg);
    background-repeat: no-repeat;    
}
.search-customer-block h1 {
    margin: 0;
}
.search-customer-block p {
    padding: 0 5px;
    margin: 50px 0;
}
.search-customer-block a {
    margin: 5px;
    display: block;
}
.search-customer-block .block-center {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 500px;
}

.second-block-test {
    height: 600px;
    background: #fff;
}
/* ЗАКАЗАТЬ УСЛУГУ (на главной) */
.gr-container-checkers {
    padding: 30px 0 40px 0;
}
.gr-container-checkers ul {
    padding: 0 30px;
}
.gr-container-checkers li {
    margin-bottom: 60px;
}
.gr-container-checkers li:last-child {
    margin-bottom: 0;
}
.gr-container-checkers li:nth-child(2) {
    padding-left: 0 !important;
}
ul.zakaz-uslugi {
    list-style: none;
    counter-reset: cnt;
}
ul.zakaz-uslugi img.item-2 {
    border: 0;
    width: 251px;
    height: 250px;    
}
.counter {
    /*padding-left: 15px;*/
}
.counter::before {
    margin-right: 10px;
    font-size: 136px;
    /* Каждый раз, когда выполняется это правило, значение счётчика увеличивается на 1 */
    counter-increment: cnt;
    /* Добавление значения счётчика как часть контента */
    content:"" counter(cnt);
    color: #969696;
    font-family: inherit;    
    font-weight: bold;    
    min-height: 250px;    
    line-height: 250px;    
    float: left;
    font-weight: bold;    
}
/* .vert-align {
    vertical-align: middle;
} */

.block-item-1 {
    padding: 0 0 0 260px;
    /*width: 249px;*/
    min-height: 250px;
    background: url("../img/items/item-1.jpg") no-repeat left center;        
}
.block-item-2 {
    padding: 0 340px 0 0;
    /*width: 333px;*/
    min-height: 250px;    
    background: url("../img/items/item-2.jpg") no-repeat right center;    
}
.block-item-3 {
    padding: 0 0 0 400px;
    /*width: 375px;*/
    min-height: 250px;
    background: url("../img/items/item-3.jpg") no-repeat left center;  
}

/* ПРЕИМУЩЕСТВА */
.vigoda {
    position: relative;
}
.vigoda-title {
    font-weight: bold;
}
.vigoda-text {

}
.vigoda-icon-1 {
    background: url(../img/icons/smile.png) no-repeat 100%;
    height: 128px;
}
.vigoda-icon-2 {
    background: url(../img/icons/purse.png) no-repeat 105%;
    height: 128px;    
}
.vigoda-icon-3 {
    background: url(../img/icons/secure.png) no-repeat 105%;
    height: 128px;    
}
.vigoda-icon-4 {
    background: url(../img/icons/alarm.png) no-repeat 120%;
    height: 128px;    
}

/* ----- ВТОРЫЕ СТРАНИЦЫ ----- */
.sp-container {
    background: #fff;
    border: 1px solid #ededed;
    position: relative;
    padding: 45px 50px;    
}
.sp-container-form {
    background: #fff;
    border: 1px solid #ededed;
    position: relative;
    padding: 40px 10px;
}
/* ХЛЕБНЫЕ КРОШКИ */
.uk-breadcrumb::after {
    content: "";
    display: block;
    border-bottom: 1px solid #d6d6d6;
    /* box-shadow: 0 1px 0 #ABABAB; */
    margin-top: 5px;
}

/* Изображения, Аватарки */
.avatar-container {
    position: relative;
    width: 100%;
    min-height: 170px;
}

.avatar-container .gr-thumbnail {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

/* FOOTER */
/*.wrapper-footer {
    position: relative;
}
.center-footer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    max-width: 100%;
    max-height: 100%;
}*/
.gr-footer {
    min-height: 200px;
    padding: 50px 0;
    background: rgba(51, 57, 62, 0.9);    
}
.footer-column {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-align: left;    
    margin-right: 20px;
}
.footer-column:nth-child(3) {
    margin-right: 0;
}
.gr-footer .footer-right-block {
    font-size: 0;
    float: right;
    width: 700px;    
}
.gr-footer .column-1 {
    float: left;
    width: 250px;
}
.gr-footer .column-2 {
    width: 220px;
}
.gr-footer .column-3 {
    width: 220px;
}
.gr-footer .column-4 {
    width: 220px;
}
.gr-footer li.work-hours {    
    color: #9e9e9e;
}
.column-1 span {
    color: #bbb;
    font-size: 14px;
}
.column-1 img {
    width: 50px;
    height: 60px;
    color: #bbb;
    margin: 10px 0;
}
.footer-title {
    font-family: inherit;
    font-size: 14px;
    color: #e9e9e9;
    text-transform: uppercase;
}
.footer-title::after {
    content: "";
    display: table;
    width: 90%;
    border-bottom: 1px solid #666;    
}
ul.footer-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}
ul.footer-list li {    
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
}
ul.footer-list a {
    color: #b1b1b1;
}
ul.footer-list a:hover {
    color: #eee;
}

/* ----- АЛЕРТЫ ----- */
.gr-help {
    border: 4px dotted #1983CD;
    margin: 30px;
    padding: 30px 30px 30px 130px;
    background: #FED53B;
    position: relative;
}
.gr-help::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 25px;    
    background: url('../img/sprit.png') no-repeat -413px -515px;
    width: 75px;
    height: 71px;
}
select {
    padding: 5px;
    font-family: inherit;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}
.hr-for-pageadd {
    width: 100%;
    border: 1px dotted #ccc;
    box-shadow: 0px 1px 0px #7B7B7B;
}

/* ----- БЛОК: Выполнено успешно -----*/
.gr-alert-success {
    border: 2px dashed green;
    background: #f2fae3;
    color: #659f13;
    margin: 15px 0;    
    padding: 10px;
}

/* После вёрстки, удалить */
.showme {
    display: block;
    border: 2px solid red;
    min-height: 50px;
}

/* From BOOTSTRAP */
.pull-right { float: right; }

/* ADD AFTER IN LESS FILES */
/* ТАБЛИЦЫ */
table.table-user-details {
    margin-top: 0;
    width: 100%;
    border-collapse: collapse;
}
table.table-user-details th {
    padding: 0 0 20px;
    font: normal 22px "Roboto Condensed", Helvetica, Arial, sans-serif;
}
table.table-user-details tr {
    border-left: 1px solid transparent;
    border-bottom: 1px solid #ccc;
}
table.table-user-details tr:nth-of-type(even) {
    background: rgba(221, 221, 221, 0.35);
}
table.table-user-details tr:hover {
    border-left: 1px solid #00a8e6;
    background: rgba(221, 221, 221, 0.4);
}
table.table-user-details td {
    padding: 10px 0 10px 14px;
}

/* UK TAB */
.uk-tab {
    border-bottom: 1px solid #00a8e6;
}
.uk-tab > li.uk-active > a {
    border-color: #00a8e6;
    border-bottom-color: transparent;
    border-radius: 5px 5px 0 0;
    background: #f3f3f3;
    color: #444444;
    font-weight: bold;
}


/*.test {*/
    /*padding-left: 40px;*/
    /*margin-left: -60px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/
/*.test:before {*/
    /*content: "";*/
    /*height: 100px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 288px;*/
    /*left: 0;*/
    /*!*border-radius: 10%/80px;*!*/
    /*box-shadow: 0 0 25px rgba(0,0,0,.5);*/
/*}*/